<!DOCTYPE html>

<title>Executive Gender Gap</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">

<h3> Forbes 50 </h3>
<table>
    <thead align = "left">
        <th>Name</th>
        <th>Gender</th>
       
    </thead>

    <tbody>

        <!-- iterate through dictionary -->
          {% for dict_item in leadersDict %}
            <tr>
                <td> {{ dict_item['name'] }} </td>
                <td> {{ dict_item['gender'] }} </td>
              
            </tr>
            
        {% endfor %}
    </tbody>
</table>